.about-logo{
    border: 1px solid orange;
    padding: 10px;
}
.about-item h5{
  font-weight: bold;
  color: rgba(53, 53, 53, 0.87);
}
.about-item p{
    color: grey;
    font-size: 14px;
    line-height: 20px;
}

.header-info{
  color: orange;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.about-card-container{
  box-shadow: 5px 5px 20px -10px gray;
  margin: 20px 10px;
  border-radius: 20px;
}
.about-info{
  color: rgba(128, 128, 128, 0.705);
  font-size: 14px;
  text-align: center;
  
}